[submodule "sdk"]
	path = sdk
	url = git@gitlab.local.inteliclinic.pl:firmware/nRF5_SDK_12.3.0.git
[submodule "nuc"]
	path = nuc
	url = https://github.com/inteliclinic/neuroon-unified-communication.git
[submodule "nRF5_SDK"]
	path = sdk
	url = https://github.com/inteliclinic/nRF5_SDK.git
